@media(max-width: 670px) {
  body{
    margin:0 auto;
  }

  .btn {
    width:80%;
  }

  .rireki {
    width:90%;
    margin: 30px auto;
  }

  .rireki p {
    text-align: left;

  }

}
